In [1]:
import pandas as pd
df = pd.read_csv('beach_requests.csv')

In [2]:
df

   request_id    partner_name request_description  days_required
0           1   Kawhi Leonard      blah blah blah              2
1           2   Stephan Curry      blah blah blah              3
2           3      Kyle Lowry      blah blah blah              2
3           4    Vince Carter      blah blah blah              1
4           5  Andrew Wiggins      blah blah blah              3

In [4]:
list(df['request_id'])

[1, 2, 3, 4, 5]