In [11]:
import pandas as pd
df = pd.read_csv('projects.csv')

In [12]:
df

,partner_name,practice,level_required,office_preference,type_of_work_1,type_of_work_2,start_date,duration,attachment
0,Kawhi Leonard,CCB,CO,Toronto,test,test,test,test,test
1,Steph Curry,LABS,SC,San Francisco,test,test,test,test,test
2,Kyle Lowry,TNS,AS,New York,test,test,test,test,test
3,Vince Carter,DTA,SC,New York,test,test,test,test,test
4,Andrew Wiggins,RCG,CO,Boston,test,test,test,test,test
5,Lebron James,TNS,CO,Chicago,test,test,test,test,test

In [13]:
row = [
   'Hi',
    'test',
    'test',
    'test',
    'test',
    'test',
    'test',
    'test',
    'test'
]

In [14]:
df_row = pd.DataFrame(data=[row], columns=df.columns)

In [15]:
df_row

,partner_name,practice,level_required,office_preference,type_of_work_1,type_of_work_2,start_date,duration,attachment
0,Hi,test,test,test,test,test,test,test,test

In [17]:
df_complete = df.append(df_row)

In [18]:
df_complete

,partner_name,practice,level_required,office_preference,type_of_work_1,type_of_work_2,start_date,duration,attachment
0,Kawhi Leonard,CCB,CO,Toronto,test,test,test,test,test
1,Steph Curry,LABS,SC,San Francisco,test,test,test,test,test
2,Kyle Lowry,TNS,AS,New York,test,test,test,test,test
3,Vince Carter,DTA,SC,New York,test,test,test,test,test
4,Andrew Wiggins,RCG,CO,Boston,test,test,test,test,test
5,Lebron James,TNS,CO,Chicago,test,test,test,test,test
0,Hi,test,test,test,test,test,test,test,test

In [21]:
list(df.columns)

['partner_name',
 'practice',
 'level_required',
 'office_preference',
 'type_of_work_1',
 'type_of_work_2',
 'start_date',
 'duration',
 'attachment']

In [31]:
import smtplib
from email.mime.text import MIMEText
from email.mime.multipart import MIMEMultipart

msg = MIMEMultipart('alternative')
msg['Subject'] = 'TEST'
msg['From'] = 'redditnews123@gmail.com'
msg['To'] = 'amy.ryu@oliverwyman.com'

part1 = MIMEText('hey', 'plain')
part2 = MIMEText('hey', 'html')
msg.attach(part1)
msg.attach(part2)

server = smtplib.SMTP('smtp.gmail.com:587')
server.starttls()
server.ehlo()
server.login('redditnews123@gmail.com', 'Reddit123')
server.sendmail('Test', 'amy.ryu@oliverwyman.com', 'duuuuude')
server.quit()

print('Email sent!')

Email sent!